#include <windows.h>
#include "resource.h"

IDR_VERSION VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "sonochiwa"
            VALUE "FileDescription", "No Cursor Shadow"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "NoCursorShadow"
            VALUE "LegalCopyright", "Copyright (c) 2026 Rashid Mamarimov (sonochiwa)"
            VALUE "OriginalFilename", "NoCursorShadow.asi"
            VALUE "ProductName", "No Cursor Shadow"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
